*.iml
.gradle
/local.properties
/.idea
/.kotlin
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
codemagic.keystore
keystore.properties
gradle/wrapper
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
